# We need to Ignore the VirtualEnviroment, otherwise this will aslo be 
#  copied to docker images and then the image would be uneccessaarily large

#  also I am ignoring Docker file as well, so as not to expose the Docker layes structure

VirtualEnviroment
Dockerfile